<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>Json 2 sql Converts Data</title>
<!-- Load AngularJS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module("UserManagement", []);

	//Controller Part
	app.controller("UserManagementController", function($scope, $http) {

		$scope.offset = 0;
		$scope.count = 0;
		$scope.owners = [];
		$scope.new = {
			id : ""
		};
		
		_refreshPageData();
		_refreshTableData();

		$scope.submitConfig = function(authorization, op, sid, uid, url, time,
				frequency) {
			var method = "POST";
			var data = {
				authorization : authorization,
				op : op,
				sid : sid,
				uid : uid,
				url : url,
				time : time,
				frequency : frequency
			};
			$http({
				method : method,
				url : 'json2sql/setConfigDetails/',
				data : JSON.stringify(data),
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(function successCallback(response) {
				$scope.config = response.data;
				alert("Configuration Processed");
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}

		/* Private Methods */
		//HTTP GET- get all Config collection
		function _refreshPageData() {
			$http({
				method : 'GET',
				url : 'json2sql/configDetails'
			}).then(function successCallback(response) {
				$scope.config = response.data;
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
			
		}

		function _refreshTableData() {
			$http({
				method : 'GET',
				url : 'json2sql/getProcessFailedData/' + $scope.offset
			}).then(function successCallback(response) {
				$scope.ownerProcesses = response.data;
				$scope.count= $scope.ownerProcesses.length;
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}
		
		$scope.nextOffset = function() {
			if ($scope.offset <= $scope.count) {
				$scope.offset = $scope.offset + 50;
				_refreshTableData();
			}
		}
		$scope.prevOffset = function() {
			if ($scope.offset >= 0) {
				$scope.offset = $scope.offset - 50;
				_refreshTableData();
			}
		}
		
		$scope.submitID = function(id) {
			$http({
				method : 'GET',
				url : 'json2sql/addProcessID/' + id
			}).then(function successCallback(response) {
				alert(response.data.status);
				_clearForm();
				_refreshTableData();
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}
		
		$scope.startProcess = function() {
			$http({
				method : 'POST',
				url : 'json2sql/startExecuteProxy/'
			}).then(function successCallback(response) {
				alert("Processed");
				_refreshTableData();
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}
		
		$scope.stopProcess = function() {
			$http({
				method : 'POST',
				url : 'json2sql/stopExecuteProxy/'
			}).then(function successCallback(response) {
				alert("Process Stop");
				_refreshTableData();
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}
		
		$scope.reset = function() {
			_refreshPageData();
			_clearForm();
		}
		
		function _clearForm() {
			$scope.new.id = "";
			$scope.search = "";
		}

	});
</script>
<style>
.button {
	cursor: pointer;
	color: blue;
}

tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #286090;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #ccc;
	width: 25%;
	text-align: left;
}

table {
	width: 600px;
	border-collapse: collapse;
}

h1 {
	text-align: center;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #ffffff;
	height: 100%;
	left: 0;
	bottom: 0;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 100%) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
</style>
<head>
<body ng-app="UserManagement" ng-controller="UserManagementController">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar"></button>
				<a class="navbar-brand" href="#">JSON to SQL Convert Data</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="index.html">Home</a></li>
					<li><a href="propertyList.html">Property List</a></li>
					<li><a href="auditPropertyList.html">Audit Property List</a></li>
					<li><a href="ownerList.html">Owner List</a></li>
					<li class="active"><a href="configProxy.html">Configure
							Proxy</a></li>
					<li><a href="SchedulerFile.html">Processed File List</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid text-center">
		<div class="row content">
			<div class="col-sm-2 sidenav">
				<!-- <p>
					<a href="#">Link</a>
				</p>
				<p>
					<a href="#">Link</a>
				</p>
				<p>
					<a href="#">Link</a>
				</p>-->
			</div>
			<div class="col-sm-8 text-centre">
				<div class="card text-primary border-primary border-right-0">
					<div class="card-body">
						<form>
							<div class="form-group">
								<label for="exampleInputEmail1">Authorization</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="Authorization value"
									ng-model="config.authorization">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">OP</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="OP Value" ng-model="config.op">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">SID</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="SID Value" ng-model="config.sid">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">UID</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="UID Value" ng-model="config.uid">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">URL</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="URL Value" ng-model="config.url">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Time Limit</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="Time Limit Value" ng-model="config.time">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Frequency</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="Frequency Value" ng-model="config.frequency">
							</div>

							<button type="submit" class="btn btn-primary btn-large center"
								ng-click="submitConfig(config.authorization, config.op, config.sid, config.uid, config.url, config.time, config.frequency)">Save
								Configuration</button>
						</form>
						<hr>
						<button type="submit" class="btn btn-primary btn-large center"
							ng-click="startProcess()">Start Process</button>
						<button type="submit" class="btn btn-primary btn-large center"
							ng-click="stopProcess()">Stop Process</button>
						<hr>
						<form>
							<div class="form-group">
								<label for="exampleInputEmail1">Submit ID for Process</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="Submit Id Here" ng-model="new.id">
							</div>

							<button type="submit" class="btn btn-primary btn-large center"
								ng-click="submitID(new.id)">Sumbit Id</button>
						</form>
						<hr>
						<div class="card-body">
							<h3>Processed Table Shows Below (Failed & Success):</h3>
							<ul class="pager">
								<li class="previous"><button type="button"
										class="btn btn-primary" ng-click="prevOffset()">Previous</button></li>
								<li class="next"><button type="button"
										class="btn btn-primary" ng-click="nextOffset()">Next</button></li>
							</ul>
							<table class="table table-striped">
								<tr>
									<th>ID</th>
									<th>Created Date</th>
									<th>Is Process</th>
									<th>Process Code</th>
									<th>Process Error</th>
								</tr>

								<tr ng-repeat="ownerProcess in ownerProcesses | filter:search">
									<td>{{ ownerProcess.id }}</td>
									<td>{{ ownerProcess.createdDate }}</td>
									<td>{{ ownerProcess.isProcess }}</td>
									<td>{{ ownerProcess.processCode }}</td>
									<td>{{ ownerProcess.processError }}</td>
								</tr>

							</table>
							<button type="submit" class="btn btn-primary btn-large center"
								ng-click="runProcess">Run Failed Process</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2 sidenav">
				<!-- <div class="well">
					<p>ADS</p>
				</div>
				<div class="well">
					<p>ADS</p>
				</div>-->
			</div>
		</div>
	</div>
</body>
</html>