<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>Json to sql Converts Data</title>
<!-- Load AngularJS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">

	var app = angular.module("UserManagement", []);

	//Controller Part
	app.controller("UserManagementController", function($scope, $http) {

		$scope.offset = 0;
		$scope.count = 0;
		$scope.owners = [];
		$scope.new = {
			id : ""
		};
		$scope.selectedObj = {};
		
		_refreshPageData();
		_transactionRecordsData();
		_refreshSkipData();
		_countTransactionDetails();
		
		$scope.testConfig = function(authorization, op, sid, uid, url, ip, port,
				frequency, loc, appcode){
			var method = "POST";
			var data = {
					authorization : authorization,
					op : op,
					sid : sid,
					uid : uid,
					url : url,
					ip : ip,
					port : port,
					frequency : frequency,
					loc : loc,
					appCode :  appcode
				};
			$http({
				method : method,
				url : 'searchString/testProxyConfig/',
				data : JSON.stringify(data),
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(function successCallback(response) {
				$scope.code = response.data.status;
				alert("Responce Code for configuration :: "+$scope.code);
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}

		$scope.submitConfig = function(authorization, op, sid, uid, url, ip, port,
				frequency, loc, appcode, starttime, endtime, maxResult) {
			var method = "POST";
			var data = {
					authorization : authorization,
					op : op,
					sid : sid,
					uid : uid,
					url : url,
					ip : ip,
					port : port,
					frequency : frequency,
					loc : loc,
					appCode :  appcode,
					starttime : starttime,
					endtime : endtime,
					maxResult : maxResult
				};
		    if((starttime==0 || starttime <=24) && (endtime==0 || endtime <=24) && (endtime > starttime)) {
		    	if(null!=maxResult){
			    	$http({
						method : method,
						url : 'searchString/setConfigDetails/',
						data : JSON.stringify(data),
						headers : {
							'Content-Type' : 'application/json'
						}
					}).then(function successCallback(response) {
						$scope.config = response.data;
						alert("Configuration Processed");
					}, function errorCallback(response) {
						console.log(response.statusText);
					});
		    	}else{
		    		alert("Please Enter Max Result");
		    	}
		    }else{
		    	alert("Please Enter Valid Start Time and End Time");
		    };
		}

		function _refreshPageData() {
			$http({
				method : 'GET',
				url : 'searchString/configDetails'
			}).then(function successCallback(response) {
				$scope.config = response.data;
				_countTransactionDetails();
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
			
		}
		
		
		$scope.reset = function() {
			_refreshPageData();
			_clearForm();
		}
		
		function _clearForm() {
			$scope.new.id = "";
			$scope.new.page = "";
			$scope.search = "";
		}
		
		$scope.startProcess = function(authorization, op, sid, uid, url,ip, port, frequency, loc, appcode, starttime, endtime,
				searchString,pageSize,maxResult,pageNumber){
			alert("Task Processing Start...");
			var method = "POST";
			var data = {
					authorization : authorization,
					op : op,
					sid : sid,
					uid : uid,
					url : url,
					ip : ip,
					port : port,
					frequency : frequency,
					loc : loc,
					appCode :  appcode,
					starttime : starttime,
					endtime : endtime,
					searchString : searchString,
					pageSize: pageSize,
					maxResult : maxResult,
					pageNumber : pageNumber
				};
			if(searchString == undefined){
			    if((starttime==0 || starttime <=24) && (endtime==0 || endtime <=24) && (endtime > starttime)) {
			    	$http({
						method : method,
						url : 'searchString/startExecuteProxyString/',
						data : JSON.stringify(data),
						headers : {
							'Content-Type' : 'application/json'
						}
					}).then(function successCallback(response) {
						$scope.config = response.data;
						alert("Task Processed");
						_refreshPageData();
						_transactionRecordsData();
					}, function errorCallback(response) {
						console.log(response.statusText);
					});
			    }else{
			    	alert("Please Enter Valid Start Time and End Time");
			    };
			}else{
		    	$http({
					method : method,
					url : 'searchString/startExecuteProxyString/',
					data : JSON.stringify(data),
					headers : {
						'Content-Type' : 'application/json'
					}
				}).then(function successCallback(response) {
					$scope.config = response.data;
					alert("Task Processed");
					_refreshPageData();
					_transactionRecordsData();
					_countTransactionDetails();
				}, function errorCallback(response) {
					console.log(response.statusText);
				});
		    };
		}
		
		$scope.stopProcess = function() {
			$http({
				method : 'POST',
				url : 'searchString/stopExecuteProxy/'
			}).then(function successCallback(response) {
				alert("Process Stop");
				_refreshPageData();
				_countTransactionDetails();
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}
		
		$scope.submitID = function(id, page) {
			var method = "POST";
			var data = {
					searchString : id,
					pageNumber : page,
					isProcess : "Y"
				};
			$http({
				method : method,
				url : 'searchString/addSkipSearchString/',
				data : JSON.stringify(data),
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(function successCallback(response) {
				$scope.skipDatas = response.data;
				alert("Inserted");
				_clearForm();
				_refreshPageData();
				_refreshSkipData();
				_countTransactionDetails();
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}
		
		$scope.removeId = function(id) {
			var method = "POST";
			var data = {
					searchString : id
				};
			$http({
				method : method,
				url : 'searchString/deleteSkipSearchString/',
				data : JSON.stringify(data),
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(function successCallback(response) {
				$scope.skipDatas = response.data;
				alert("Deleted");
				_clearForm();
				_refreshPageData();
				_refreshSkipData();
				_countTransactionDetails();
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}
		
		function _refreshSkipData() {
			$http({
				method : 'GET',
				url : 'searchString/skipSearchString/'
			}).then(function successCallback(response) {
				$scope.skipDatas = response.data;
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}
		
		function _transactionRecordsData() {
			$http({
				method : 'GET',
				url : 'searchString/processTransactionDetails/'+ $scope.offset
			}).then(function successCallback(response) {
				$scope.processRecords= response.data;
				_countTransactionDetails();
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}
		
		$scope.nextOffset = function() {
			if ($scope.offset <= $scope.count) {
				$scope.offset = $scope.offset + 10;
				_transactionRecordsData();
			}
		}
		$scope.prevOffset = function() {
			if ($scope.offset >= 0) {
				$scope.offset = $scope.offset - 10;
				_transactionRecordsData();
			}
		}
		$scope.runFailedProcess = function(){
			alert("Processing Start...");
			$http({
				method : 'POST',
				url : 'searchString/runFailedProcess/'
			}).then(function successCallback(response) {
				alert("Processed..");
				_refreshTableData();
				_transactionRecordsData();
				_countTransactionDetails();
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}
		
		$scope.runAgainProcess = function(searchString, pageNumber, pageSize, maxResult){
			alert("Re-Run Processing Start...");
			var method = "POST";
			var data = {
					searchString : searchString,
					pageNumber : pageNumber,
					pageSize : pageSize,
					maxResult : maxResult
				};
	    	$http({
				method : method,
				url : 'searchString/startReRunProxyString/',
				data : JSON.stringify(data),
				headers : {
					'Content-Type' : 'application/json'
				}
			}).then(function successCallback(response) {
				$scope.config = response.data.status;
				alert("Task Processed Staus::"+$scope.config);
				_transactionRecordsData();
				_refreshPageData();
				_countTransactionDetails();
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}
		
		$scope.refresh= function(){
			_transactionRecordsData();
			_refreshPageData();
			_countTransactionDetails();
		}
		
		function _countTransactionDetails() {
			$http({
				method : 'GET',
				url : 'searchString/countTransactionDetails/'
			}).then(function successCallback(response) {
				$scope.count = response.data.status;
			}, function errorCallback(response) {
				console.log(response.statusText);
			});
		}
	});
</script>
<style>
.button {
	cursor: pointer;
	color: blue;
}

tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #286090;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #ccc;
	width: 25%;
	text-align: left;
}

table {
	width: 600px;
	border-collapse: collapse;
}

h1 {
	text-align: center;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #ffffff;
	height: 100%;
	left: 0;
	bottom: 0;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 100%) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}
.container {
    padding: 20px;
}
</style>
<head>
<body ng-app="UserManagement" ng-controller="UserManagementController">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar"></button>
				<a class="navbar-brand" href="#">JSON to SQL Convert Data</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="index.html">Home</a></li>
					<li><a href="propertyList.html">Property List</a></li>
					<li><a href="auditPropertyList.html">Audit Property List</a></li>
					<li><a href="ownerList.html">Owner List</a></li>
					<li><a href="configProxy.html">Configure
							Proxy</a></li>
					<li><a href="SchedulerFile.html">Processed File List</a></li>
					<li><a href="searchString.html">Search String List</a></li>
					<li class="active"><a href="configProxyString.html">Configure
							Search String</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid text-center">
		<div class="row content">
			<div class="col-sm-2 sidenav">
				<!-- <p>
					<a href="#">Link</a>
				</p>
				<p>
					<a href="#">Link</a>
				</p>
				<p>
					<a href="#">Link</a>
				</p>-->
			</div>
			<div class="col-sm-8 text-centre">
				<div class="card text-primary border-primary border-right-0">
					<div class="card-body">
						<form name ="myForm">
							<div class="form-group">
								<label for="exampleInputEmail1">Authorization</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="Authorization value"
									ng-model="config.authorization">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">OP</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="OP Value" ng-model="config.op">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">SID</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="SID Value" ng-model="config.sid">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">UID</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="UID Value" ng-model="config.uid">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">LOC</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="LOC Value" ng-model="config.loc">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">App Code</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="App Code Value" ng-model="config.appcode">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Host IP</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="Host IP Value" ng-model="config.ip">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Port</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="Port Value" ng-model="config.port">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">URL</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="URL Value" ng-model="config.url">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Frequency</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="Frequency Value" ng-model="config.frequency">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Max Result</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="Max Result value"
									ng-model="config.maxResult">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Start Timer</label>
								<input type="text" class="timepicker" name="starttime" placeholder="24 hour format" 
								ng-model="config.starttime"/>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">End Timer</label>
								<input type="text" class="timepicker" name="endtime" 
								placeholder="24 hour format" ng-model="config.endtime"/>
							</div>
							<button type="submit" class="btn btn-primary btn-large center"
								ng-click="submitConfig(config.authorization, config.op, config.sid, config.uid, config.url,config.ip, config.port, config.frequency, config.loc, config.appcode, config.starttime, config.endtime,config.maxResult)">Save
								Configuration</button>
							<button type="submit" class="btn btn-primary btn-large center"
								ng-click="testConfig(config.authorization, config.op, config.sid, config.uid, config.url,config.ip, config.port, config.frequency, config.loc, config.appcode)">Test Connection</button>
						</form>
						<hr>
						<h3>Required Details for Run Search String</h3>
						<form name ="myForm">
							<div class="form-group">
								<label for="exampleInputEmail1">Search String ID</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="Search String value (Optional)"
									ng-model="config.searchString">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Page Size</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="Page Size (Optional)"
									ng-model="config.pageSize">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Page Number ID</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="Page Number value (Optional)"
									ng-model="config.pageNumber">
							</div>
						</form>
						<button type="submit" class="btn btn-primary btn-large center"
							ng-click="startProcess(config.authorization, config.op, config.sid, config.uid, config.url,config.ip, config.port, config.frequency, config.loc, config.appcode, config.starttime, config.endtime,
							config.searchString,config.pageSize,config.maxResult,config.pageNumber)">Start Process</button>
						<button type="submit" class="btn btn-primary btn-large center"
							ng-click="stopProcess()">Stop Process</button>
						<hr>
						<form>
						<h3>Submit Search String to Skip</h3>
							<div class="form-group">
								<label for="exampleInputEmail1">Search String ID</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="SearchString Id Here" ng-model="new.id">
							</div>
							<!-- <div class="form-group">
								<label for="exampleInputEmail1">Search String Page</label> <input
									class="form-control form-control-sm" type="text"
									placeholder="SearchString Page Here" ng-model="new.page">
							</div> -->
							<button type="submit" class="btn btn-primary btn-large center"
								ng-click="submitID(new.id,new.page)">Sumbit Id</button>
							<button type="submit" class="btn btn-primary btn-large center"
								ng-click="removeId(new.id)">Remove Id</button>
						</form>
						<hr/>
						<div class="card-body">
							<h3>Skip Records:</h3>
							<table class="table table-striped">
								<tr>
									<th>Search String</th>
									<th>Is Process</th>
									<th>Action</th>
								</tr>

								<tr ng-repeat="skipData in skipDatas | filter:search">
									<td>{{ skipData.searchString }}</td>
									<td>{{ skipData.isProcess }}</td>
									<td><button type="submit" class="btn btn-primary btn-large center"
										ng-click="removeId(skipData.searchString)">Remove</button></td>
								</tr>

							</table>
						</div>
						<hr/>
						<div class="card-body">
							<h3>Processed Table Shows Below (Failed & Success):</h3>
							
							<table class="table table-striped">
								<tr>
									<th>Search String</th>
									<th>Page Number</th>
									<th>Page Size</th>
									<th>Max Result</th>
									<th>Processed?</th>
									<th>Res Code</th>
									<th>Res Error</th>
									<th>Created Date</th>
									<th>Action</th>
								</tr>

								<tr ng-repeat="processRecord in processRecords | filter:search">
									<td>{{ processRecord.searchString }}</td>
									<td>{{ processRecord.pageNumber }}</td>
									<td>{{ processRecord.pageSize }}</td>
									<td>{{ processRecord.maxResult }}</td>
									<td>{{ processRecord.isProcess }}</td>
									<td>{{ processRecord.processCode }}</td>
									<td>{{ processRecord.errorLog }}</td>
									<td>{{ processRecord.createdDate }}</td>
									<td><button type="submit" class="btn btn-primary btn-large center"
										ng-click="runAgainProcess(processRecord.searchString, processRecord.pageNumber,
										processRecord.pageSize, processRecord.maxResult)">Re-Run</button></td>
								</tr>

							</table>
							<ul class="pager">
								<li class="previous"><button type="button"
										class="btn btn-primary" ng-click="prevOffset()">Previous</button></li>
								<li class="next"><button type="button"
										class="btn btn-primary" ng-click="nextOffset()">Next</button></li>
							</ul>
							<hr/>
							<ul class="pager">
							<li class="rerun"><button type="submit" class="btn btn-primary btn-large center"
								ng-click="runFailedProcess()">Run Failed Process</button></li>
							<li class="refresh"><button type="button"
										class="btn btn-primary" ng-click="refresh()">Refresh</button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2 sidenav">
				<!-- <div class="well">
					<p>ADS</p>
				</div>
				<div class="well">
					<p>ADS</p>
				</div>-->
			</div>
		</div>
	</div>
</body>
</html>